include README.md
include HOWTO.md
include CHANGELOG.md
include character-example.png
include transcript-example.png
include AUTHORS
include LICENSE
include jackie.png
include springheel-icon.png
include springheel-logo.png
include jackie.svg
include springheel-logo.svg
include springheel/conf.ini
include springheel/arrows/*
include springheel/socialbuttons/*
include springheel/templates/*
recursive-include springheel/themes *
prune springheel/themes/.sass-cache/
recursive-exclude springheel/themes *.css.map
