@media screen {
  /*seasonal*/
  #seasonal {
    /*Spring*/
    /*Summer*/
    /*Fall*/
    /*Winter*/
    /* Default (small) screens */
    /*TODO: Fix the skip link hiding method*/
    /*Medium screens*/ }
    #seasonal * {
      box-sizing: content-box; }
    #seasonal body {
      background-color: #315040;
      background: url("spring.png") bottom 1em left 0em repeat-x, linear-gradient(to top, #315040 144px, #4866c5 145px, #4866c5);
      background-attachment: fixed;
      color: #111;
      text-align: center;
      font-size: 1.5em;
      font-family: sans-serif;
      margin: 0em; }
    #seasonal main, #seasonal figure {
      margin-left: 0em;
      padding-left: 0em; }
    #seasonal main > div, #seasonal figure#comic, #seasonal main > section, #seasonal main > .tagslist {
      background-color: #fafafa;
      padding-left: 0.5em;
      padding-right: 0.5em; }
    #seasonal main > div, #seasonal main > section, #seasonal figure#comic, #seasonal h1, #seasonal main > .tagslist {
      border: solid thick #429ad7;
      border-left: none;
      border-right: none; }
    #seasonal nav li {
      border: solid thick #73cfd9; }
    #seasonal h1 {
      margin: 0em;
      margin-top: 1em;
      background-color: #fafafa;
      padding: 1em; }
    #seasonal figure#comic {
      padding: 1em 0em;
      margin: 1em 0em;
      text-align: center; }
    #seasonal .cominavbox, #seasonal .cominavbox li {
      display: inline-block;
      padding: 0em;
      margin: 1em; }
    #seasonal #skippy {
      text-align: left;
      margin: 0em; }
    #seasonal #skippy a, #seasonal #skippy a:hover, #seasonal #skippy a:visited {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
    #seasonal #skippy a:active, #seasonal #skippy a:focus {
      position: static;
      height: auto;
      width: auto;
      font-size: 1em;
      margin-top: 0em;
      color: #fff; }
    #seasonal nav ul {
      padding-left: 0em; }
    #seasonal nav li {
      display: inline-block;
      background-color: #fafafa;
      padding: 0.5em; }
      #seasonal nav li + li {
        margin-left: 0.5em; }
    #seasonal #commentary, #seasonal #transcript {
      text-align: left; }
    #seasonal .statline {
      font-weight: bold; }
    #seasonal a:link {
      color: #315040;
      text-decoration: underline; }
    #seasonal a:visited {
      color: #324b9e; }
    #seasonal a:hover {
      text-decoration: underline; }
    #seasonal a:hover, #seasonal a:focus, #seasonal a:active {
      color: #3c7949; }
    #seasonal a:focus, #seasonal a:active {
      outline: dashed medium #3c7949; }
    #seasonal footer {
      margin-bottom: 0em; }
      #seasonal footer p {
        margin-left: 0em;
        text-align: left;
        background-color: #fafafa;
        border: solid medium #73cfd9;
        border-left: none;
        border-right: none;
        padding: 0.3em; }
        #seasonal footer p:last-of-type {
          margin-bottom: 0em; }
      #seasonal footer .sbuttons {
        background: none;
        border: none; }
    #seasonal .archive {
      text-align: left; }
    #seasonal img, #seasonal embed, #seasonal object, #seasonal video {
      max-width: 100%; }
    #seasonal .action {
      font-weight: bold; }
    #seasonal .cominavbox {
      background-color: #fafafa;
      padding-left: 0.5em;
      padding-right: 0.5em;
      border: solid thick #429ad7; }
      #seasonal .cominavbox a:focus, #seasonal .cominavbox a:active {
        outline: medium dashed #3c7949; }
    #seasonal .cominavbox li:active a, #seasonal .cominavbox li:focus a {
      outline: dashed medium #46a946; }
      #seasonal .cominavbox li:active a img, #seasonal .cominavbox li:focus a img {
        background-color: #46a946; }
    #seasonal .cominavbox li img {
      background-color: #3c7949; }
    #seasonal .cominavbox li:active img, #seasonal .cominavbox li:focus img, #seasonal .cominavbox li:hover img {
      background-color: #46a946; }
    #seasonal .char {
      text-align: left; }
      #seasonal .char .chartraits {
        overflow-wrap: break-word; }
      #seasonal .char dt:after {
        content: ":"; }
      #seasonal .char dd:after {
        content: "\A";
        white-space: pre; }
      #seasonal .char dd {
        margin-left: 0em; }
      #seasonal .char dt, #seasonal .char dd {
        display: inline;
        white-space: pre-wrap; }
    #seasonal header {
      margin-top: 0em; }
    #seasonal main > div, #seasonal main > section, #seasonal main > .tagslist {
      padding: 1em 0.5em; }
    #seasonal main .main, #seasonal main .allchars, #seasonal main .char {
      margin-top: 1em; }
    #seasonal .intro {
      border: none;
      background: none;
      margin: 0em;
      padding: 0 0;
      width: 100%; }
      #seasonal .intro img {
        display: inline;
        margin: 0em;
        padding: 0em; }
    #seasonal div + div, #seasonal section + section {
      margin-top: 2em; }
    #seasonal .tagslist, #seasonal .chapterarch {
      list-style-type: none;
      padding-left: 0em;
      line-height: 2em; } }
  @media screen and (min-width: 1024px) {
    #seasonal body {
      margin: 0;
      padding-bottom: 0; }
    #seasonal main > div, #seasonal main > section, #seasonal figure#comic, #seasonal h1, #seasonal main > .tagslist {
      border: solid thick #429ad7; }
    #seasonal figure#comic {
      padding: 1em;
      margin: 0em 1em;
      background-color: #fafafa; }
      #seasonal figure#comic + .cominavbox {
        margin-top: 1.5em;
        margin-bottom: 0em; }
    #seasonal main {
      margin: 0em; }
    #seasonal main > div, #seasonal main > section, #seasonal main > .tagslist {
      margin: 1em auto;
      padding: 1em;
      max-width: 70%; }
    #seasonal .cominavbox, #seasonal .cominavbox li {
      margin: 1em; }
    #seasonal h1 {
      font-size: 1.5em;
      max-width: 70%;
      margin: auto;
      margin-top: 2em;
      margin-bottom: 0em; }
    #seasonal h2 {
      font-size: 1.2em; }
    #seasonal h3 {
      font-size: 1em; }
    #seasonal nav li {
      padding: 1em 1em 0.8em 1em;
      margin: 0em; }
      #seasonal nav li + li {
        margin-left: 1em; }
    #seasonal .statline {
      font-size: 0.8em;
      text-align: right; }
    #seasonal footer {
      margin: 1em 0em 0em 0em;
      padding: 0.2em; }
      #seasonal footer p {
        font-size: 0.7em;
        text-align: left;
        margin-left: 0.5em;
        border: solid medium #73cfd9; }
    #seasonal .main {
      text-align: left; }
    #seasonal .intro {
      margin: 0em; }
    #seasonal .intro + .intro {
      border-top: dashed thin #4866c5; }
    #seasonal .char {
      padding: 0em; }
      #seasonal .char h2 {
        text-indent: 1em; }
      #seasonal .char img {
        margin: 0em 1em 1em 1em; }
      #seasonal .char .chartraits {
        margin: 0em;
        text-align: left;
        border: none; }
      #seasonal .char .chartext {
        margin-top: 0em;
        padding: 0em 1em; }
      #seasonal .char .chartraits, #seasonal .char img {
        display: inline-block;
        vertical-align: top;
        max-width: 50%; }
    #seasonal main > section .tagslist li {
      display: inline-block;
      vertical-align: top; } }

/*# sourceMappingURL=style.css.map */
