@media screen {
  /*Showtime*/
  #showtime {
    /* Default (small) screens */
    /*TODO: Fix the skip link hiding method*/
    /*Medium screens*/ }
    #showtime * {
      box-sizing: border-box; }
    #showtime body {
      background-color: #171717;
      background: #171717 url("curtaint.png") repeat-x 0% 0%;
      color: #d9d9d9;
      text-align: center;
      font-size: 1.5em;
      font-family: sans-serif;
      display: grid;
      grid-gap: 1em 0;
      grid: auto auto 1fr / 0em 1fr 0em;
      margin: 0;
      min-height: 100vh; }
    #showtime #skippy {
      grid-column: 2; }
    #showtime header {
      grid-column: 2;
      margin-top: 1em; }
    #showtime main {
      grid-column: 2; }
    #showtime footer {
      grid-column: 2;
      align-self: end; }
    #showtime main, #showtime figure {
      margin-left: 0em;
      padding-left: 0em; }
    #showtime h1 {
      margin: 0em; }
    #showtime figure#comic {
      padding: 0em;
      margin: 0em;
      text-align: center; }
    #showtime .cominavbox, #showtime .cominavbox li {
      display: inline-block;
      padding: 0em; }
    #showtime .cominavbox li {
      margin: 0em 1em; }
    #showtime p + p, #showtime li + li {
      margin-top: 0.5em; }
    #showtime #skippy {
      text-align: left; }
    #showtime #skippy a, #showtime #skippy a:hover, #showtime #skippy a:visited {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
    #showtime #skippy a:active, #showtime #skippy a:focus {
      position: static;
      height: auto;
      width: auto;
      font-size: 1em;
      margin-top: 0em;
      color: #fff;
      background: #000; }
    #showtime nav li {
      display: inline-block; }
    #showtime #commentary, #showtime #transcript {
      text-align: left; }
    #showtime .statline {
      font-weight: bold; }
    #showtime a:link {
      color: #9E9EFF;
      text-decoration: underline; }
    #showtime a:visited {
      color: #C38FFF; }
    #showtime a:hover {
      text-decoration: underline; }
    #showtime a:hover, #showtime a:focus, #showtime a:active {
      color: #FF8585; }
    #showtime footer p {
      margin-left: 0em;
      text-align: left; }
    #showtime .archive {
      text-align: left; }
    #showtime img, #showtime embed, #showtime object, #showtime video {
      max-width: 100%; }
    #showtime .action {
      font-weight: bold; }
    #showtime .charname {
      font-weight: bold; }
    #showtime .char {
      padding: 0em; }
      #showtime .char .chartraits {
        overflow-wrap: break-word; }
      #showtime .char dt {
        font-weight: bold;
        line-height: 2em;
        text-transform: uppercase; }
      #showtime .char dt:after {
        content: ":"; }
      #showtime .char dd:after {
        content: "\A";
        white-space: pre; }
      #showtime .char dd {
        margin-left: 0em; }
      #showtime .char dt, #showtime .char dd {
        display: inline;
        white-space: pre-wrap; }
    #showtime .tagslist, #showtime .chapterarch {
      list-style-type: none;
      padding-left: 0em; } }
  @media screen and (min-width: 1024px) {
    #showtime body {
      margin: 0em;
      grid: auto auto 1fr / 0em 1fr 0em;
      background: url("curtaint.png") repeat-x 0% 0%, url("curtainr.png") fixed repeat-y 100% 0%, #171717 url("curtainl.png") fixed repeat-y 0% 0%; }
    #showtime figure#comic {
      margin: 0em; }
      #showtime figure#comic img {
        border: solid 1em #c18d5c;
        padding: 0em;
        margin: 0em;
        max-width: 100%; }
    #showtime main > div, #showtime main > section, #showtime main > .tagslist, #showtime h1, #showtime figure#comic figcaption {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; }
    #showtime main > div, #showtime main > section, #showtime main > .tagslist {
      text-align: left;
      padding-left: 1em;
      padding-right: 1em;
      margin: auto; }
    #showtime div + div {
      margin-bottom: 0em;
      margin-top: 0em; }
    #showtime .cominavbox {
      margin: 0.5em 1em; }
    #showtime .cominavbox li {
      margin: 0em 1.5em; }
    #showtime h1 {
      font-size: 1.5em;
      margin-left: auto;
      margin-right: auto; }
    #showtime h2 {
      font-size: 1.2em; }
    #showtime h3 {
      font-size: 1em; }
    #showtime nav li {
      padding-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0.8em;
      margin: 0em; }
    #showtime .statline {
      font-size: 0.8em;
      text-align: right; }
    #showtime footer {
      background: #171717;
      margin: 0em;
      padding: 0.5em; }
    #showtime footer p {
      font-size: 0.8em;
      margin-bottom: 0em; }
    #showtime .main {
      padding: 0.5em; }
      #showtime .main p {
        margin-left: 0em; }
    #showtime .char {
      text-align: left; }
      #showtime .char .chartraits, #showtime .char img {
        display: inline-block;
        vertical-align: top;
        max-width: 40%; }
      #showtime .char .chartraits {
        max-width: 50%;
        margin-top: 0em;
        margin-left: 1em; }
    #showtime main > .tagslist {
      padding: 1em; } }

/*# sourceMappingURL=style.css.map */
